<tr>
  <td class="text-center">Name</td>
  <td class="text-center">
  		<%= branch_form.text_field :name, :class =>"btn-block btn-block-level-input" %>
  	</td>
</tr>
<tr>
	<td class="text-center">Address</td>
  	<td class="text-center">
  		<%= branch_form.text_field :address, :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
	<td class="text-center">City</td>
  	<td class="text-center">
  		<%= branch_form.text_field :city, :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
	<td class="text-center">Country</td>
  	<td class="text-center">
  		<%= branch_form.text_field :country, :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
	<td class="text-center">Zip</td>
  	<td class="text-center">
  		<%= branch_form.text_field :zip_code, :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
	<td class="text-center">Primary Phone</td>
  	<td class="text-center">
  		<%= branch_form.text_field :primary_phone, :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
	<td class="text-center">Secondary Phone</td>
  	<td class="text-center">
  		<%= branch_form.text_field :secondary_phone, :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
	<td class="text-center">Email</td>
  	<td class="text-center">
  		<%= branch_form.email_field :email_address, :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
  	<td class="text-center hidden-xs hidden-sm">
  		<%= branch_form.text_field :branch_head_id, value: current_user.id, :type => "hidden", :class =>"btn-block btn-block-level-input" %>
 	</td>
</tr>
<tr>
  	<td colspan="2" class="text-center"><%= branch_form.link_to_remove "Remove this Branch" %></td>
</tr>