%h4 Personal Details
%hr/
.col-sm-12.mb15
  .row
    .col-sm-6
      %label First Name
      = f.text_field :first_name, :class => "form-control", :autofocus => true
    .col-sm-6
      %label Last Name
      = f.text_field :last_name, :class => "form-control"
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Middle Name
      = f.text_field :middle_name, :class => "form-control"
    .col-sm-6
      %label Gender
      = f.select :gender, [["Not Telling", 'undefinded'], ["Male", 'male'], ["Female", 'female']], {}, { :class => 'form-control' }
.col-sm-12.mb15
  .row
    .col-sm-6
      %label CNIC (Without Dashes)
      = f.number_field :cnic, :class => "form-control"
    .col-sm-6
      %label Religion
      = f.text_field :religion, :class => "form-control"
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Cast
      = f.text_field :cast, :class => "form-control"
    .col-sm-6
      %label Blood Group
      = f.select :blood_group,[["unknown","unknown"],["A+","A+"],["A-","A-"],["AB+","AB+"],["AB-","AB-"],["O+","O+"],["O-","O-"]], {}, { :class => 'form-control btn-block btn-block-level-input' }
.col-sm-12.mb15
  .row
    .col-sm-6
      %label height
      = f.text_field :height, :class => "form-control"
%h4 Account Details
%hr/
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Email Address
      = f.email_field :email, :class => "form-control"
    .col-sm-6
      %label Password
      = f.password_field :password, :class => "form-control"
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Password Confirmation
      = f.password_field :password_confirmation, :class => "form-control"
    .col-sm-6
      %label Account Status
      = f.select :disabled, [["Enable", false], ["Disabled", true]], {}, { :class => 'form-control' }
.col-sm-12.mb15
  .row
    .col-sm-6
      - if controller.controller_name == "workers"
        %label Type
        = f.select :_type, [["Manager", 'manager'], ["Worker", 'worker']], {}, { :class => 'form-control' }
      - elsif controller.controller_name == "suppliers"
        = f.hidden_field :_type, :value => "supplier"
      - elsif controller.controller_name == "clients"
        = f.hidden_field :_type, :value => "client"
%h4 Contact Information
%hr/
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Primary Phone
      = f.text_field :primary_phone, :class => "form-control"
    .col-sm-6
      %label Secondary Phone
      = f.text_field :secondary_phone, :class => "form-control"
.col-sm-12.mb15
  .row
    .col-sm-6
      - if controller.controller_name == "clients" || controller.controller_name == "suppliers"
        %label Fax
        = f.text_field :fax, :class => "form-control"
      - elsif controller.controller_name == "workers"
        %Label Home Contact
        = f.text_field :home_contact, :class => "form-control"
    .col-sm-6
      %label Social Media Links
      = f.text_area :social_media_links, :class => "form-control"
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Seconday Email
      = f.email_field :secondary_email, :class => "form-control"
%h4 Joining Information
%hr/
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Company
      = collection_select(:company, :id, current_user.companies, :id, :name, {}, { :id => "factories_on_worker_form_table", :class => 'dropdown dropdown-menue form-control'})
    .col-sm-6
      %label Branch
      = collection_select(:branch, :id, current_user.companies[0].branches, :id, :name, {}, { :id => "all_branches_on_worker_form_table", :class => 'dropdown dropdown-menue form-control'})
.col-sm-12.mb15
  .row
    .col-sm-6
      %label Join Date
      = f.text_field :join_date, :class => "form-control date date-picker"
%h4 Hobbies
%hr/
.col-sm-12
  %table#hobbies.table.table-bordered
    %thead
      %tr
        %td Name
        %td Description
        %td
          = f.link_to_add :hobbies, :data => { :target => "#hobbies" } do
            %button.btn
              %i.fa.fa-plus
              Hobby
    %tbody
      = f.fields_for :hobbies, :wrapper => false do |hobby_form|
        = render partial: "shared/hobby_fields", locals: {f: hobby_form}