- account_types = Array.new
- account_types <<  ['Company Account', 'company_account']
- account_types <<  ['Bank Account', 'bank_account']
.fields.nested_fields_div.account-fields
	%h4.branch-number-heading Account # #{i}
	%hr/
	.col-sm-12.row
		.hidden
			- if controller.controller_name == "workers"
				= f.text_field :account_holder_type, :value => 'employee'
			- elsif controller.controller_name == "clients"
				= f.text_field :account_holder_type, :value => 'client'
			- elsif controller.controller_name == "suppliers"
				= f.text_field :account_holder_type, :value => 'supplier'
			- elsif controller.controller_name == "companies"
				= f.text_field :account_holder_type, :value => 'company'
		.col-sm-6
			.form-group
				%label Title
				= f.text_field :title, :class => "form-control", :autofocus => true
		.col-sm-6
			.form-group
				%label Type
				= f.select :_type, account_types, {}, { :class => 'account-type-selector form-control' }

	- if f.object.present? && f.object.bank_account?
		= render partial: "shared/bank_info_fields", locals: {f: f, hide: ""}
	- else
		= render partial: "shared/bank_info_fields", locals: {f: f, hide: "hide"}
	.col-sm-12.row
		.col-sm-6
			.form-group
				%label Current Balance
				= f.number_field :current_balance, :class => "btn-block form-control btn-block-level-input"
		.col-sm-6
			.form-group
				%label Description
				= f.text_area :description, :class => "btn-block form-control btn-block-level-input"
	.col-sm-12.row
		.col-sm-6
			= f.link_to_remove "Remove this Account"