<%
	account_types = Array.new
	account_types <<  ['Company Account', 'company_account']
	account_types <<  ['Bank Account', 'bank_account']
%>

<table class="table fields">
	<tr>
		<td class="text-center">Title</td>
		<td class="text-left">
			<%= f.text_field :title, :class => "btn-block form-control btn-block-level-input", :autofocus => true %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Description</td>
		<td class="text-left">
			<%= f.text_field :description, :class => "btn-block form-control btn-block-level-input" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Type</td>
		<td class="text-left">
			<%= f.select :_type, account_types, {}, { :class => 'account-type-selector btn-block form-control btn-block-level-input' } %>
		</td>
	</tr>
	<% if f.object.present? && f.object.bank_account? %>
		<tr class="bank_info_fields">
			<td class="text-center">Bank Name</td>
			<td class="text-left">
				<%= f.text_field :bank_name, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">Account Number</td>
			<td class="text-left">
				<%= f.number_field :bank_account_number, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">Address</td>
			<td class="text-left">
				<%= f.text_area :bank_address, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">City</td>
			<td class="text-left">
				<%= f.text_field :bank_city, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">State</td>
			<td class="text-left">
				<%= f.text_field :bank_state, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">Country</td>
			<td class="text-left">
				<%= f.text_area :bank_country, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">Zip Code</td>
			<td class="text-left">
				<%= f.number_field :bank_zip_code, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">Primary Phone</td>
			<td class="text-left">
				<%= f.text_field :bank_primary_phone, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields">
			<td class="text-center">Secondary Phone</td>
			<td class="text-left">
				<%= f.text_field :bank_secondary_phone, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
	<% else %>
		<tr class="bank_info_fields hide">
			<td class="text-center">Bank Name</td>
			<td class="text-left">
				<%= f.text_field :bank_name, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">Account Number</td>
			<td class="text-left">
				<%= f.number_field :bank_account_number, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">Address</td>
			<td class="text-left">
				<%= f.text_area :bank_address, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">City</td>
			<td class="text-left">
				<%= f.text_field :bank_city, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">State</td>
			<td class="text-left">
				<%= f.text_field :bank_state, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">Country</td>
			<td class="text-left">
				<%= f.text_area :bank_country, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">Zip Code</td>
			<td class="text-left">
				<%= f.number_field :bank_zip_code, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">Primary Phone</td>
			<td class="text-left">
				<%= f.text_field :bank_primary_phone, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
		<tr class="bank_info_fields hide">
			<td class="text-center">Secondary Phone</td>
			<td class="text-left">
				<%= f.text_field :bank_secondary_phone, :class => "btn-block form-control btn-block-level-input" %>
			</td>
		</tr>
	<% end %>
	<tr>
		<td class="text-center">Current Balance</td>
		<td>
			<%= f.number_field :current_balance, :class => "btn-block form-control btn-block-level-input" %>
		</td>
		<td class="hidden">
			<% if controller.controller_name == "workers" %>
				<%# 0 represent employee as account holder %>
				<%= f.text_field :account_holder_type, :value => 0 %>
			<% elsif controller.controller_name == "clients" %>
				<%# 1 represent client as account holder %>
				<%= f.text_field :account_holder_type, :value => 1 %>
			<% elsif controller.controller_name == "suppliers" %>
				<%# 2 represent supplier as account holder %>
				<%= f.text_field :account_holder_type, :value => 2 %>
			<% elsif controller.controller_name == "companies" %>
				<%# 3 represent company as account holder %>
				<%= f.text_field :account_holder_type, :value => 3 %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<%= f.link_to_remove "Remove this Account" %>
		</td>
	</tr>
</table>