.col-md-12
	.col-md-6
		%label
			Order Date
		.form-group
			= f.text_field :order_date, :value => Date.today, :class => "datepicker form-control"
	.col-md-6
		%label
			Delivery Date
		.form-group
			= f.text_field :delivery_date, :class => "datepicker form-control"
.col-md-12
	%table.table.table-bordered
		%thead
			%tr
				%th{:width => "30%"} Select Product
				%th{:width => "12%"} Cost per Unit
				%th Number of Units
				%th Discount
				%th Total
				%th
					= f.link_to_add :order_items, :data => { :target => "#order_item_table" }, :class => "btn btn-primary" do
						%i.fa.fa-plus
						Product
		%tbody{:id => "order_item_table"}
			= f.fields_for :order_items, f.object.order_items.order(:created_at), :wrapper => false do |order_item_form|
				= render partial: "orders/order_items_fields", locals: { f: order_item_form }
		%tr
			%td &nbsp
			%td &nbsp
			%td &nbsp
			%td &nbsp
			%td 
			%td &nbsp