%tr.fields
	%td= f.select :product_id, @product_list, {:include_blank => true}, { :class => 'order-item-product-selector btn-block form-control' }
	%td= f.number_field :cost, :class => "product-cost form-control"
	%td= f.number_field :quantity, :class => "product-quantity form-control"
	%td= f.number_field :discount, :class => "product-discount form-control"
	%td
		= text_field_tag :total_amount, 0, :class => "product-total form-control"
	%td
		= f.link_to_remove do
			%button.btn.btn-danger
				%i.fa.fa-times
				Remove