<table class="table table-bordered">
	<tr>
		<td class="text-center">Name</td>
		<td class="text-center"><%= f.text_field :name, :class =>"form-control btn-block btn-block-level-input" %></td>
	</tr>
	<tr>
		<td class="text-center">Vision</td>
		<td class="text-center"><%= f.text_area :vision, :class => "form-control btn-block btn-block-level-input" %></td>
	</tr>
	<tr>
		<td class="text-center">Work Description</td>
		<td class="text-center">
			<%= f.text_area :work_description, :class =>"form-control btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Email</td>
		<td class="text-center"><%= f.email_field :email , :class =>"form-control btn-block btn-block-level-input"%></td>
	</tr>
	<tr>
		<td class="text-center">Primary Phone</td>
		<td class="text-center">
			<%= f.text_field :primary_phone, :class =>"form-control btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Secondary Phone</td>
		<td class="text-center">
			<%= f.text_field :secondary_phone, :class =>"form-control btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Tax Information</td>
		<td class="text-center">
			<%= f.text_area :tax_information, :class =>"form-control btn-block btn-block-level-input" %>
		</td>
	</tr>
</table>