<tr>
  <td>Name</td>
  <td>
    <%= f.hidden_field :id %>
    <%= f.text_field :name, :class => 'btn form-control btn-block btn-block-level-input' %>
  </td>
</tr>
<tr>
  <td>Description</td>  
  <td><%= f.text_field :description, :class => 'btn btn-block btn-block-level-input' %></td>
</tr>
<tr>
  <td>Type</td>
  <td><%= f.text_field :_type, :class => 'btn btn-block btn-block-level-input' %></td>
</tr> 
<tr>
  <td>Category</td>
  <td><%= f.text_field :category, :class => 'btn btn-block btn-block-level-input' %></td>
</tr>
<tr>
  <td>Cost</td> 
  <td><%= f.number_field :cost, :class => 'btn btn-block btn-block-level-input' %></td>
</tr>
<tr>
</tr>
<tr>  
  <td>&nbsp</td>
  <td>
    <%= f.link_to_remove "Remove This Product" %>
  </td>
</tr>