
<ul class="sidebar-nav">
    <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
    <li><%= link_to "Companies", companies_path %></li>
    <li><%= link_to "Suppliers", suppliers_path %></li>
    <li><%= link_to "Clients", clients_path %></li>
    <li><%= link_to "Accounts", accounts_path %></li>
    <li><%= link_to "Sales", sales_path %></li>
    <li><%= link_to "Workers", workers_path %></li>
    <li><%= link_to "Payroll", payrolls_path %></li>
    <li><%= link_to "Work Heads", work_heads_path %></li>
    <li><%= link_to "Reports", reports_path %></li>
    <li><%= link_to "Settings", settings_path %></li>
</ul>
