<% if @workers.count > 0 %>
	<table class="table table-hover table-bordered show_records">
		<tr>
			<td>Company Name</td>
			<td>Branch Name</td>
			<td>First Name</td>
			<td>Primary Phone</td>
			<td>Secondary Phone</td>
			<td>Type</td>
			<td>Status</td>
			<td>&nbsp</td>
		</tr>
		<% @workers.each do |worker| %>
			<tr class="cursor_hand" data-link="<%= worker_path(worker) %>">
				<td class="hide"><%= hidden_field_tag :id, worker.id, :class => "worker_id" %></td>
				<td><%= worker.branch.company.name rescue nil %></td>
				<td><%= worker.branch.name rescue nil %></td>
				<td><%= worker.first_name rescue nil%></td>
				<td><%= worker.primary_phone rescue nil%></td>
				<td><%= worker.secondary_phone rescue nil%></td>
				<td><%= worker._type rescue nil %></td>
				<% if worker.disabled %>
					<td><%= link_to "Enable" , "#", :class => "worker_enable_disable_button", :value => "Enable" %></td>
				<% else %>
					<td><%= link_to "Disable" , "#", :class => "worker_enable_disable_button", :value => "Disable" %></td>
				<% end %>
				<td>
					<%= link_to worker_path(worker), method: "delete", :"data-confirm" => "Are you sure you want to delete this Worker! All Accounts should be deleted and you can't cover those accounts" do %>
		            	<i class="fa fa-times"></i>
		            <% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h1>No Worker to show</h1>
<% end %>