<% if @workers.count > 0 %>
	<table class="table table-bordered table-hover">
		<tr>
			<td>Factory Name</td>
			<td>Branch Name</td>
			<td>First Name</td>
			<td>Primary Phone</td>
			<td>Secondary Phone</td>
			<td>Type</td>
			<td>Status</td>
			<td>&nbsp</td>
			<td>&nbsp</td>
			<td>&nbsp</td>
		</tr>
		<% @workers.each do |worker| %>
			<tr>
				<td class="hide"><%= hidden_field_tag :id, worker.id, :class => "worker_id" %></td>
				<td><%= worker.branch.factory.name rescue nil %></td>
				<td><%= worker.branch.name rescue nil %></td>
				<td><%= worker.first_name rescue nil%></td>
				<td><%= worker.primary_phone rescue nil%></td>
				<td><%= worker.secondary_phone rescue nil%></td>
				<td><%= worker._type rescue nil %></td>
				<% if worker.disabled %>
					<td><%= link_to "Enable" , "#", :class => "btn btn-primary worker_enable_disable_button", :value => "Enable" %></td>
				<% else %>
					<td><%= link_to "Disable" , "#", :class => "btn btn-primary worker_enable_disable_button", :value => "Disable" %></td>
				<% end %>
				<td><%= link_to "Show", worker_path(worker), :class => "btn btn-primary" %></td>
				<td><%= link_to "Edit", edit_worker_path(worker), :class => "btn btn-primary" %></td>
				<td>
					<%= link_to "Delete", worker_path(worker), :class => "btn btn-primary", method: "delete" %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<h1>No Worker to show</h1>
<% end %>