<%= form_for @worker, :url => worker_path(@worker.id) do |f| %>
	<h2>Edit Worker</h2>
	<hr />
	<table class="table">
		<tr>
			<td class="text-center">First Name</td>
			<td class="text-left">
				<%= f.text_field :first_name, :class => "btn-block btn-block-level-input", :autofocus => true %>
			</td>
			<td class="text-left">Last Name</td>
			<td class="text-left">
				<%= f.text_field :last_name, :class => "btn-block btn-block-level-input" %>
			</td>
		</tr>
		<tr>
			<td class="text-center">Middle name</td>
			<td class="text-left">
				<%= f.text_field :middle_name, :class => "btn-block btn-block-level-input" %>
			</td>
			<td class="text-left">Gender</td>
			<td class="text-left">
				<%= f.select :gender, [["Not Telling", 'undefinded'], ["Male", 'male'], ["Female", 'female']], {}, { :class => 'btn-block btn-block-level-input' } %>
			</td>
		</tr>
		<tr>
			<td class="text-center">CNIC (Without Dashes)</td>
			<td class="text-left">
				<%= f.number_field :cnic, :class => "btn-block btn-block-level-input" %>
			</td>
			<td class="text-left">Religion</td>
			<td class="text-left">
				<%= f.text_field :religion, :class => "btn-block btn-block-level-input" %>
			</td>
		</tr>
		<tr>
			<td class="text-center">Email</td>
			<td class="text-left">
				<%= f.text_field :email, :class => "btn-block btn-block-level-input" %>
			</td>
			<td class="text-left">Address</td>
			<td class="text-left">
				<%= f.text_area :address, :class => "btn-block btn-block-level-input" %>
			</td>
		</tr>
		<tr>
			<td class="text-center">City</td>
			<td class="text-left">
				<%= f.text_field :city, :class => "btn-block btn-block-level-input" %>
			</td>
			<td class="text-left">Country</td>
			<td class="text-left">
				<%= f.text_field :country, :class => "btn-block btn-block-level-input" %>
			</td>
		</tr>
		<tr>
			<td class="text-center">Zip Code</td>
			<td class="text-left">
				<%= f.number_field :zip_code, :class => "btn-block btn-block-level-input" %>
			</td>
			<td class="text-left">Primary Phone</td>
			<td class="text-left">
				<%= f.text_field :primary_phone, :class => "btn-block btn-block-level-input" %>
			</td>
		</tr>
		<tr>
			<td class="text-center">Secondary Phone</td>
			<td class="text-left">
				<%= f.text_field :secondary_phone, :class => "btn-block btn-block-level-input" %>
			</td>
			<td class="text-left">Status</td>
			<td class="text-left">
				<%= f.select :disabled, [["Enable", true], ["Disabled", false]], {}, { :class => 'btn-block btn-block-level-input' } %>
			</td>
		</tr>
		<tr>
			<td class="text-center">Type</td>
			<td class="text-left">
				<%= f.select :_type, [["Manager", 'manager'], ["Worker", 'worker']], {}, { :class => 'btn-block btn-block-level-input' } %>
			</td>
			<td>Join Date</td>
			<td><%= f.text_field :join_date, "data-provide" => 'datepicker', :class => "datepicker" %></td>
		</tr>
		<tr>
			<td>Blood Group</td>
			<td>
				<%= f.select :blood_group,[["unknown","unknown"],["A+","A+"],["A-","A-"],["AB+","AB+"],["AB-","AB-"],["O+","O+"],["O-","O-"]], {}, { :class => 'btn-block btn-block-level-input' } %>
			</td>
			<td>Height</td>
			<td>
				<%= f.text_field :height, :class => "btn-block btn-block-level-input" %>
			</td>
		</tr>
		<tr>
			<td>Factory</td>
			<td>
				<%= collection_select(:company, :id, current_user.companies, :id, :name, {}, {:class => 'dropdown dropdown-menue btn btn-block btn-block-level-input'}) %>
			</td>
			<td>Branch</td>
			<td>
				<%= collection_select(:user, :branch_id, current_user.companies[0].branches, :id, :name, {}, {:class => 'dropdown dropdown-menue btn btn-block btn-block-level-input'}) %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><%= f.submit "Update", :class => "btn btn-block btn-primary btn-block-level-input" %></td>
		</tr>
	</table>
<% end %>