<div>
	<%= link_to "Add New Worker", new_worker_path, :class => "btn btn-primary" %>
	

	<%= select_tag :option, options_for_select([['All Workers',''],['Managers', 'manager'], ['Workers', 'worker']]), { :id => "workers_managers_dropdown_workers", :class => 'btn btn-default pull-right relative-position' } rescue nil %>
	

	<%= collection_select(:branch, :id, Array.new, :id, :name, {:include_blank => 'All Branches'}, {:id => "all_branches_dropdown_workers",:class => 'dropdown dropdown-menue btn btn-default pull-right relative-position'}) rescue nil %>
	

	<%= collection_select(:factory, :id, current_user.factories, :id, :name,{:include_blank => 'All Factories'}, {:id => "all_factories_dropdown_workers", :class => 'dropdown dropdown-menue btn btn-default pull-right relative-position'}) rescue nil %>
	<hr />
	<hr />
</div>

<div id="all_workers_table">
	<%= render partial: "workers/workers_table" %>
</div>