<h1>Worker Information</h1>
<hr />
<table class="table table-condensed table-hover">
	<tr>
		<td>First Name</td>
		<td><%= @worker.first_name %></td>
	</tr>
	<tr>
		<td>Middle Name</td>
		<td><%= @worker.middle_name %></td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td><%= @worker.last_name %></td>
	</tr>
	<tr>
		<td>Gender</td>
		<td><%= @worker.gender %></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><%= @worker.email %></td>
	</tr>
	<tr>
		<td>Primary Phoe</td>
		<td><%= @worker.primary_phone %></td>
	</tr>
	<tr>
		<td>Secondary Phone</td>
		<td><%= @worker.secondary_phone %></td>
	</tr>
	<tr>
		<td>CNIC</td>
		<td><%= @worker.cnic %></td>
	</tr>
	<tr>
		<td>Religion</td>
		<td><%= @worker.religion %></td>
	</tr>
	<tr>
		<td>Cast</td>
		<td><%= @worker.cast %></td>
	</tr>
	<tr>
		<td>Address</td>
		<td><%= @worker.address %></td>
	</tr>
	<tr>
		<td>City</td>
		<td><%= @worker.city %></td>
	</tr>
	<tr>
		<td>Country</td>
		<td><%= @worker.country %></td>
	</tr>
	<tr>
		<td>Zip Code</td>
		<td><%= @worker.zip_code %></td>
	</tr>
	<tr>
		<td>Height</td>
		<td><%= @worker.height %></td>
	</tr>
	<tr>
		<td>Blood Group</td>
		<td><%= @worker.blood_group %></td>
	</tr>
	<tr>
		<td>Manager</td>
		<td><%= @worker.branch.branch_head.first_name + @worker.branch.branch_head.last_name %></td>
	</tr>
	<tr>
		<td>Factory</td>
		<td><%= @worker.branch.factory.name %></td>
	</tr>
	<tr>
		<td>Branch</td>
		<td><%= @worker.branch.name %></td>
	</tr>
	<tr>
		<td>Status</td>
		<td><%= @worker.disabled == true ? "Disabled" : "Enabled" %></td>
	</tr>
	<tr>
		<td>Join Date</td>
		<td><%= @worker.join_date %></td>
	</tr>
</table>