<div>
  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="#supplier_orders" aria-controls="supplier_orders" role="tab" data-toggle="tab">Orders
      </a>
    </li>
    <li role="presentation">
      <a href="#supplier_products" aria-controls="employee_accounts" role="tab" data-toggle="tab">Products</a>
    </li>
    <li role="presentation">
      <a href="#supplier_payment_history" aria-controls="supplier_payment_history" role="tab" data-toggle="tab">Payment History</a>
    </li>
    <li role="presentation">
      <a href="#supplier_accounts" aria-controls="supplier_accounts" role="tab" data-toggle="tab">Supplier Accounts</a>
    </li>
    <li role="presentation">
      <a href="#supplier_personal_info" aria-controls="supplier_personal_info" role="tab" data-toggle="tab">Personal Information</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="supplier_orders">
      	<%= render partial: "supplier_orders", locals: { supplier: @supplier, f: f } %>
    </div>


    <div role="tabpanel" class="tab-pane" id="supplier_products">
      <%= render partial: "supplier_products", locals: { supplier: @supplier, f: f } %>
    </div>
      
    <div role="tabpanel" class="tab-pane" id="supplier_payment_history">
      <%= render partial: "supplier_payment_history", locals: { supplier: @supplier, f: f } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="supplier_accounts">
      <%= render partial: "supplier_accounts", locals: { supplier: @supplier, f: f } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="supplier_personal_info">
      <%= render partial: "shared/create_user_form_table", locals: { supplier: @supplier, f: f} %>
    </div>
  </div>
</div>