<% if @suppliers.count > 0 %>
	<table class="table table-bordered show_records">
		<thead>
			<tr>
				<td>Company Name</td>
				<td>First Name</td>
				<td>Primary Phone</td>
				<td>Secondary Phone</td>
				<td>Status</td>
				<td>&nbsp</td>
			</tr>
		</thead>
		<tbody>
			<% @suppliers.each do |supplier| %>
				<tr data-link="<%= supplier_path(supplier) %>">
					<td class="hide"><%= hidden_field_tag :id, supplier.id, :class => "supplier_id" %></td>
					<td><%= supplier.company.name rescue nil %></td>
					<td><%= supplier.first_name rescue nil%></td>
					<td><%= supplier.primary_phone rescue nil%></td>
					<td><%= supplier.secondary_phone rescue nil%></td>
					<% if supplier.disabled %>
						<td><%= link_to "Enable" , "#", :class => "btn btn-primary supplier_enable_disable_button", :value => "Enable" %></td>
					<% else %>
						<td><%= link_to "Disable" , "#", :class => "btn btn-primary supplier_enable_disable_button", :value => "Disable" %></td>
					<% end %>
					<td>
						<%= link_to supplier_path(supplier), :class => "delete_supplier", method: "delete" do %>
							<i class="fa fa-times"></i>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h1>No Supplier to Show</h1>
<% end %>