.page-header.navbar.navbar-fixed-top
  / BEGIN HEADER INNER
  .page-header-inner
    / BEGIN LOGO
    .page-logo
      %a{:href => "#{root_path}"}
        = image_tag 'corefactorylogo.png', :alt => 'logo'
      - if current_user.present?
        .menu-toggler.sidebar-toggler
          %span
    - if current_user.present?
      %a.menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
        %span
      .top-menu
        %ul.nav.navbar-nav.pull-right
          %li.dropdown.dropdown-user
            %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "javascript:;"}
              %span.username.username-hide-on-mobile= current_user.full_name
              %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-menu-default
              %li
                %a{:href => "page_user_profile_1.html"}
                  %i.icon-user
                  My Profile
              %li
                %a{:href => "app_calendar.html"}
                  %i.icon-calendar
                  My Calendar
              %li
                %a{:href => "app_todo.html"}
                  %i.icon-rocket
                  My Tasks
                  %span.badge.badge-success 7
              %li.divider
              %li
                = link_to destroy_user_session_path, :method => "DELETE" do
                  %i.icon-key
                  Log Out
    - else
      .pull-right
        .top-menu
          %ul.nav.navbar-nav.pull-right
            %li.dropdown.dropdown-user
              %a.dropdown-toggle.design-only{:href => "#{new_user_registration_path}"}
                %span.username.username-hide-on-mobile SignUp
            %li.dropdown.dropdown-user
              %a.dropdown-toggle.design-only{:href => "#{new_user_session_path}"}
                %span.username.username-hide-on-mobile SignIn
