<!DOCTYPE html>
<html>
	<head>
	  <title>Corefactory</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="body-background">
		<div class="header">
			<%= render partial: "layouts/application_header" %>
		</div>

		<% if notice.present? %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if alert.present? %>
     			<p class="alert"><%= alert %></p>
     		<% end %>
		<% if current_user.present? %>
			<div id="wrapper">
	        		<div id="sidebar-wrapper">
					<% if current_user.owner? %>
				       	<%= render partial: "user/sidebars/owner_sidebar" %>
				       <% elsif current_user.manager? %>
				       	<%= render partial: "user/sidebars/owner_sidebar" %>
				       <% elsif current_user.worker? %>
				       	<%= render partial: "user/sidebars/worker_sidebar" %>
				       <% end %>
				</div>

				 <div id="page-content-wrapper">
					<%= yield %>
				</div>
			</div>
		<% else %>
			<div id="container">
				<%= yield %>
			</div>
		<% end %>
	</body>
</html>