<%
	account_types = Array.new
	account_types <<  ['Company Account', 'company_account']
	account_types <<  ['Bank Account', 'bank_account']
	
	account_holder_types = Array.new
	account_holder_types <<  ['company', 'company']
	account_holder_types <<  ['Employee', 'employee']
	account_holder_types <<  ['Client', 'client']
	account_holder_types <<  ['Supplier', 'supplier']
%>

<table class="table">
	<tr>
		<td class="text-center">Title</td>
		<td class="text-left">
			<%= f.text_field :title, :class => "btn-block btn-block-level-input", :autofocus => true %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Description</td>
		<td class="text-left">
			<%= f.text_field :description, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Type</td>
		<td class="text-left">
			<%= f.select :_type, account_types, {}, { :class => 'btn-block btn-block-level-input' } %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">Bank Name</td>
		<td class="text-left">
			<%= f.text_field :bank_name, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">Account Number</td>
		<td class="text-left">
			<%= f.number_field :bank_account_number, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">Address</td>
		<td class="text-left">
			<%= f.text_area :bank_address, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">City</td>
		<td class="text-left">
			<%= f.text_field :bank_city, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">State</td>
		<td class="text-left">
			<%= f.text_field :bank_state, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">Country</td>
		<td class="text-left">
			<%= f.text_area :bank_country, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">Zip Code</td>
		<td class="text-left">
			<%= f.number_field :bank_zip_code, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">Primary Phone</td>
		<td class="text-left">
			<%= f.text_field :bank_primary_phone, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr class="bank_info_fields hide">
		<td class="text-center">Secondary Phone</td>
		<td class="text-left">
			<%= f.text_field :bank_secondary_phone, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Current Balance</td>
		<td>
			<%= f.number_field :current_balance, :class => "btn-block btn-block-level-input" %>
		</td>
	</tr>
	<tr>
		<td class="text-center">Account Holder type</td>
		<td>
			<%= f.select :account_holder_type, account_holder_types , {}, { :class => 'btn-block btn-block-level-input account_holder_type_dropdown' } %>
		</td>
	</tr>
	<tr class="assosiated_user_tr">
		<td class="text-center">Assosiated User</td>
		<td>
			<%= f.select :user_id, [] , {}, { :class => 'btn-block btn-block-level-input assosiated_user_dropdown' } %>
		</td>
	</tr>
	<tr class="assosiated_company_tr">
		<td class="text-center">Assosiated Company</td>
		<td>
			<%= f.select :company_id, current_user.companies.all.collect {|company| [ company.name, company.id ] } , {:include_blank => true}, { :class => 'btn-block btn-block-level-input assosiated_company_dropdown' } %>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit "Create", :class => "btn btn-block btn-primary btn-block-level-input" %></td>
	</tr>
</table>